In [1]:
from pathlib import Path
import pandas as pd

In [2]:
import sys
sys.path.append('../baseline/')

In [3]:
# originals
data_path_e = Path('../../data/eclipse_clear.json')
data_path_m = Path('../../data/mozilla_mozall.json')

df_json_e = pd.read_json(data_path_e, lines=True)
df_json_m = pd.read_json(data_path_m, lines=True)

display(df_json_e.head(2))
display(df_json_m.head(2))

,_id,bug_id,product,description,bug_severity,dup_id,short_desc,priority,version,component,delta_ts,bug_status,creation_ts,resolution
0,{'$oid': '52e9b44754dc1c25ebdb1ee5'},3,Platform,KM (10/2/2001 5:55:18 PM)\n\tThis PR about the...,normal,[],Sync does not indicate deletion (1GIEN83),P5,2.0,Team,2010-05-07 10:28:53 -0400,RESOLVED,2001-10-10 21:34:00 -0400,FIXED
1,{'$oid': '52e9b44754dc1c25ebdb1ee6'},1,Platform,- Setup a project that contains a *.gif resour...,normal,[],Usability issue with external editors (1GE6IRL),P3,2.0,Team,2012-02-09 15:57:47 -0500,CLOSED,2001-10-10 21:34:00 -0400,FIXED

,_id,bug_id,product,description,bug_severity,dup_id,short_desc,priority,version,component,delta_ts,bug_status,creation_ts,resolution
0,{'$oid': '52eaece454dc1c410c4fbc01'},35,MozillaClassic,Created by (weitsang@cs.cornell.edu) on Mond...,minor,[],Navigator does not free preference hash table ...,P3,1998-03-31,XFE,2013-11-19 18:16:47 -0800,VERIFIED,1998-04-07 01:37:03 -0700,WONTFIX
1,{'$oid': '52eaece454dc1c410c4fbc02'},36,SeaMonkey,Created by J. Daniel Powell (dan@java-linux.or...,critical,[],Floating Point Exception on Execution,P2,Trunk,Build Config,2012-10-31 18:36:36 -0700,VERIFIED,1998-04-07 02:04:03 -0700,INVALID

In [4]:
# filtered
data_path_fe = Path('../../data/eclipse_72k.json')
data_path_fm = Path('../../data/mozilla_200k.json')

df_json_fe = pd.read_json(data_path_fe)
df_json_fm = pd.read_json(data_path_fm)

display(df_json_fe.head(2))
display(df_json_fm.head(2))

,bug_id,bug_severity,binary_severity,description,stemmed_description
0,43,major,1,project Junk released teamstream rename projec...,project junk releas teamstream renam project a...
1,163,critical,1,AK 6/12/01 4:55:24 PM got exception last night...,ak 6/12/01 4:55:24 pm got except last night wo...

,bug_id,bug_severity,binary_severity,description,stemmed_description
0,35,minor,0,Navigator free preference hash table exit,navig free prefer hash tabl exit
1,36,critical,1,Floating Point Exception Execution,float point except execut

In [5]:
df_json_fe = df_json_fe.drop('description', axis=1)
df_json_fm = df_json_fm.drop('description', axis=1)
display(df_json_fe.head(2))
display(df_json_fm.head(2))

,bug_id,bug_severity,binary_severity,stemmed_description
0,43,major,1,project junk releas teamstream renam project a...
1,163,critical,1,ak 6/12/01 4:55:24 pm got except last night wo...

   bug_id bug_severity  binary_severity               stemmed_description
0      35        minor                0  navig free prefer hash tabl exit
1      36     critical                1         float point except execut

In [6]:
print(df_json_m['bug_id'].duplicated().any())

True

In [7]:
merged_df_e = pd.merge(df_json_fe, df_json_e[['bug_id', 'description']], on='bug_id', how='inner')

df_json_m_no_duplicates = df_json_m.drop_duplicates('bug_id')
merged_df_m = pd.merge(df_json_fm, df_json_m_no_duplicates[['bug_id', 'description']], on='bug_id', how='inner')

display(merged_df_e.head())
display(merged_df_m.head())

,bug_id,bug_severity,binary_severity,stemmed_description,description
0,43,major,1,project junk releas teamstream renam project a...,I have a project (Junk) that has been released...
1,163,critical,1,ak 6/12/01 4:55:24 pm got except last night wo...,AK (6/12/01 4:55:24 PM)\n\ti got this exceptio...
2,194,major,1,1 add global ignor pattern bazproject 2 creat ...,"1) Add a global ignore pattern ""BazProject""\n2..."
3,195,major,1,1 releas project file stream 2 delet file loca...,1) Release a project and file to the stream\n2...
4,196,major,1,start follow structur jfinalsmok project org b...,Started with following structure:\n\nJFinalSmo...

,bug_id,bug_severity,binary_severity,stemmed_description,description
0,35,minor,0,navig free prefer hash tabl exit,Created by (weitsang@cs.cornell.edu) on Mond...
1,36,critical,1,float point except execut,Created by J. Daniel Powell (dan@java-linux.or...
2,42,minor,0,navig redraw initi startup,Created by Stephan Nagy (steph8@flash.net) on...
3,41,critical,1,multipl netscap window reciev data time,Created by Chris Kennedy (chris@groovy.org) on...
4,61,minor,0,navig shutdown set-zero-context bug,Created by Jukka Santala (donwulff@iki.fi) on ...

In [13]:
print(merged_df_e.description.isna().unique())
print(merged_df_e.stemmed_description.isna().unique())

print(merged_df_m.description.isna().unique())
print(merged_df_m.stemmed_description.isna().unique())

[False]
[False]
[False  True]
[False]

In [14]:
merged_df_m_noempty = merged_df_m[
        merged_df_m['description'].apply(
            lambda x: isinstance(x, str) and len(x.strip()) > 0
        )
    ]

In [13]:
merged_df_e.to_json("../../data/new_eclipse.json", orient="records", indent=4)
merged_df_m.to_json("../../data/new_mozilla.json", orient="records", indent=4)